<%- include('./base/header.ejs') %>

<div class="container-fluid bg-black vh-100 d-flex flex-column justify-content-center align-items-center">
  <h1 class="text-white">Welcome to the Email Tracker</h1>
  <p class="text-white mt-3">By: Ahmer Imran Othi</p>
</div>

<%- include('./base/footer.ejs') %>
